html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el tamaño total */
    height: 100%; /* Asegura que el body ocupe todo el alto de la pantalla */
    width: 100%; /* Asegura que el body ocupe todo el ancho de la pantalla */
    overflow-x: hidden; /* Elimina el desbordamiento horizontal */
    flex-wrap: wrap;
}

/* Contenedores principales de la página */
* {
    box-sizing: border-box; /* Para que el padding y border no afecten el ancho de los elementos */
}

/* Asegura que el contenido no se desborde */
body, .main-products, .product-list, .product-item, .item-container, .details-container {
    width: 100%;
    max-width: 100%;
}



/* Asegura que los elementos no tengan desbordamiento */
html, body, .main-products {
    overflow-x: hidden;
}



/* Estilo para el contenedor principal de la página */

/*----------------------------NAV--------------------*/
/* Barra de navegación */
.navbar {
    padding: 3px;
    background-image: linear-gradient(to right,#fc899a, #ecc3c9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}

.image-center{
    margin-top: 210px;
    flex-wrap: wrap;

}

/* Contenedor para el logo y el menú */
nav > a {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    display: block; 
    height: 60px; 
    width: auto;
    margin-right: 1200px;
    flex-wrap: wrap;
    
}


/* Contenedor para los iconos de usuario y carrito */
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 20px; 
    margin-right: 100px; 
    flex-wrap: wrap;
}

/* Estilos de los iconos */
.icon-user, .icon-cart {
    font-size: 30px;
    color: #000000;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

/* Efecto hover para los iconos */
.icon-user:hover, .icon-cart:hover {
    transform: scale(1.2);
    color: #f5ecbe;
    opacity: 0.7;
}

/* Botón del menú */
.menu-toggle-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-left: 30px;
}

/* Estilos cuando se pasa el ratón por encima del botón de menú */
.menu-toggle-btn:hover {
    color: #020202;
    transform: scale(1.2);
}

/* Estilos para el icono dentro del botón de menú */
.menu-toggle-btn i {
    font-size: 30px;
    color: #000000;
}

.menu-toggle-btn:hover i {
    color: #f5ecbe;
    transform: scale(1.2);
}



/* Contenedor principal */


/* Secciones de banners */
section {
    margin-bottom: 30px;
    padding: 15px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Pie de página */
footer {
    text-align: center;
    padding: 0;
    padding-top: 500px; /* Ajusta este valor para mover el texto hacia abajo */
    margin-top: -300;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/footerbanner.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}




/* Estilo general del sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: -300px;  /* Modifica este valor si lo deseas */
    width: 300px;  /* Aumenta el valor del ancho aquí */
    height: 100%;
    background: #ffffff; /* Fondo blanco o el color que prefieras */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
    padding: 30px 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo cuando el sidebar debe ser visible */
#sidebar.show-sidebar {
    left: 0;
}

/* Overlay que cubre todo el contenido menos el sidebar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: none;
    z-index: 999;
}

/* Cuando se activa el overlay, se mostrará */
.show-overlay {
    display: block;
}


/* Logo kawaii */
.sidebar-logo {
    width: 60%;
    max-width: 150px;
    margin-bottom: 20px;
}

/* Estilo para el botón de cerrar */
#close-sidebar {
    background: transparent;
    border: none;
    font-size: 26px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
    
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 20px; /* Alinea el botón un poco hacia abajo */
    right: 20px; /* Alinea el botón a la derecha */
}


#close-sidebar:hover {
    color: #ff6fcf; /* Color brillante para el hover */
}

/* Título de categorías */
#sidebar-header h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 60px; /* Mover el título hacia abajo */
}

/* Asegurarse de que el contenedor del título también tenga espacio adecuado */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 30px; /* Asegura que haya espacio en la parte superior */
}

/* Estilo para los enlaces de las categorías */
.sidebar-link {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 12px; /* Bordes más suaves */
    margin: 5px 0;
    font-family: 'Verdana', sans-serif;
}

/* Estilo de los iconos */
.sidebar-link i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 20px; /* Tamaño del icono */
}

/* Efecto hover en los enlaces */
.sidebar-link:hover {
    color: #afe2a3; /* Color pastel brillante */
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilo para las categorías especiales */
.upcoming-category {
    font-weight: bold;
    color: #f0b0b9; /* Rosa brillante */
}

.discount-category {
    font-weight: bold;
    color: #97bae0; /* Naranja suave */
}

/* Eliminar puntos (viñetas) de las listas */
#dynamic-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding-left: 0; /* Elimina cualquier sangría */
    margin: 0; /* Elimina cualquier margen */
}

/* Estilo para los elementos de la lista con separación */
#dynamic-list li {
    border-bottom: 1px solid #6d69694e; /* Línea de separación en la parte inferior */
    padding-bottom: 10px;
    margin-bottom: 10px; /* Margen entre las categorías */
}

/* --------------CART--------------- */
#cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 380px;  /* Ajustamos un poco el tamaño */
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ffe97a); /* Degradado suave de fondo */
    border-left: none;  /* Quitamos el borde izquierdo para un look más limpio */
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2); /* Sombra más difusa */
    padding: 30px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 10px 0 0 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    
}

/* Estilo para la cabecera del carrito */
#cart .sidebar-header {
    display: flex;
    justify-content: flex-start;  /* Alineación a la izquierda */
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#cart .sidebar-header h3 {
    font-size: 1.8rem;
    color: #333;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 70px;  /* Agrega espacio para que el título no quede muy cerca del botón */
}

#cart .btn-close {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
    position: absolute; /* Lo posiciona de forma absoluta dentro del contenedor */
    left: 20px; /* Lo coloca 20px desde el borde izquierdo del contenedor */
    top: 5px;
}
#cart .btn-close:hover {
    color: #a5d7cd;  /* Color de hover */
}

/* Estilos para los productos en el carrito */
#cart-items {
    margin-bottom: 20px;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    
    
}

#cart-items div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #6d69694e; /* Línea de separación en la parte inferior */
    margin-bottom: 10px; /* Margen entre los productos */
}

#cart-items img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

#cart-items p {
    flex-grow: 1;
    color: #000000;
    font-size: 1rem;
    margin: 0;
    
}

/* Estilo para el total */
#cart-total {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    
}

/* Estilos para el botón de continuar el checkout */
#checkout {
    background-color: #ecc3c9;
    color: #333;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
}

#checkout:hover {
    background-color: #a5d7cd;
}

/* Estilo para el botón de eliminar con el ícono del basurero */
.remove-item {
    background-color: #fcd2d3;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.remove-item:hover {
    background-color: #a5d7cd;
}

.remove-item i {
    font-size: 20px;
    color: #333;
}

/* Estilo para cuando el carrito está abierto */
#cart.show-cart {
    right: 0;
}

/* Estilo para el selector de cantidad */
.quantity-selector {
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 60px;
    height: 40px;
    appearance: none;
    cursor: pointer;
    margin: 0 10px;
    transition: border-color 0.3s ease;
}

.quantity-selector:focus {
    border-color: #ec3c9d;
    outline: none;
}

/* Estilo cuando el select está en foco (clickeado o enfocado) */
.quantity-selector option {
    padding: 8px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
}

/* Estilo para la opción seleccionada */
.quantity-selector option:checked {
    background-color: #a5d7cd;
    color: white;
}

/* Modal de login */
#login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    height: 500px;  
    display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

#login-modal h3 {
    font-size: 24px; 
    color: #333;
    margin-bottom: 20px;
}

#login-modal.active {
    display: block;
}


/*buttons login-modal*/

/* Estilo para el botón 'Entrar con e-mail y contraseña' */
#show-login {
    background-color: #bacfe5; 
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    width: 100%; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px;
}


#show-login:hover {
    background-color: #a5d7cd; 
}
/* Estilo para el enlace */
.link-register {
    text-decoration: underline;
    color: #000000; 
    font-size: 16px; 
    padding: 12px 20px; 
    border-radius: 5px; 
    transition: color 0.3s ease, transform 0.3s ease; 
    display: inline-block;
    
}

.link-register:hover {
    color: #bacfe5; 
    transform: scale(1.05); 
    
}



/* Efecto hover del botón de cerrar */
#close-login:hover {
    background-color: #f1f1f1;
}

/* Estilo para el contenedor del formulario de login */
#login-form {
    display: block; 
    margin-top: 60px;
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Estilo para los inputs dentro del formulario */
#login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;

}

/* Efecto al poner el foco sobre los inputs */
#login-form input:focus {
    border-color: #a5d7cd; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Estilo para el botón de inicio de sesión */
#login-form button {
    background-color: #ecc3c9; 
    color: rgb(0, 0, 0); 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    width: 100%; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

/* Efecto de hover sobre el botón */
#login-form button:hover {
    background-color: #f5ecbe; 
    transform: scale(1.05); 
}
/* Close Button */
#close-login {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* Botones de cerrar */
.btn-close {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}


/* Barra con texto desplazándose */
.custom-moving-navbar {
    background-color: #ffe97a;  
    padding: 5px 0;
    position: relative;
    overflow: hidden;  
}



.moving-text {
    display: inline-block;
    white-space: nowrap;  
    animation: scrollText 15s linear infinite; 
    font-size: 18px;
    color: rgb(4, 4, 4); 
}

/* Animación para mover el texto de izquierda a derecha */
@keyframes scrollText {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


/*--------------------ESTILOS DE REGISTRO---------------*/


.registro-container {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 50px;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;      
    margin-left: 600px; 
   
    
}

.registro-titulo {
    text-align: center;
    color: #333;
}

.registro-input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-subtitulo {
    font-weight: bold;
    margin-top: 10px;
}

.registro-label {
    display: block;
    margin: 5px 0;
}

.registro-boton {
    width: 100%;
    padding: 10px;
    background-color: #ecc3c9;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.registro-boton:hover {
    background-color: #ffe97a;
}



/* Estilo para el título */
.coming-soon-title {
    color: #333;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInEffect 2s ease-in-out;
    margin-top: 50px;
}

/* Contenedor de las imágenes */
.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    animation: slideUpEffect 2s ease-in-out;
}

/* Estilos para las imágenes */
.coming-soon-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

/* Efecto hover para las imágenes */
.coming-soon-image:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Animación de desvanecimiento para el título */
@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación para el contenedor de las imágenes */
@keyframes slideUpEffect {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}







